extends layoutadmin

block content
    h1  Strona ucznia 
    p Witaj ponownie,  #{user.imieUcznia}  #{user.nazwiskoUcznia} !
    p Klasa: #{user.Klasa_nazwaKlasy} 
    p Numer Kontaktowy: #{user.nrTelefonuUcznia} 
    p E-mail: #{user.EmailUcznia}
    //https://www.youtube.com/watch?v=9Y_xHn2gHWY
    
    p 
        
        
          
